header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

header .logo {
    margin-left: 10px;
    color: blue;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    margin-right: 10px;
    color: black;
    margin-left: 10px;
}

header nav a:hover {
    color: gray;
}