.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.exam-image {
    height: 200px;
    width: 150px;
}

.question-card {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
}

.question-card-content {
    display: flex;
}

.question-content {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    justify-content: space-between;
}

.question-content h3 {
    font-weight: 500;
}

.answers {
    height: 250px;
    min-width: 50px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question-image {
    border-radius: 10px;
    margin-left: 5px;
}

.exam-card {
    height: 40vh;
    width: 20vw;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.subtitle {
    width: 100%;
    margin-left: 10px;
}

.result {
    min-width: 3%;
    max-width: 4%;
}

.progress-bar {
    position: absolute;
    top: 0;
    right: 0;
}